[run]
branch = True
source = .
omit =
    coala-langserver.py
    tests/*

[report]
exclude_lines =
    if self.debug:
    pass
    pragma: no cover
    raise NotImplementedError
    def main
    if __name__ == .__main__.:
ignore_errors = True
